.mypagesec01 {
    padding: 30px;
}

.mypagesec01 .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    overflow: hidden;
    background: url(../assets/img/mypage/profile-bg.png) center / cover no-repeat;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.mypagesec01 .photo .top {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 27px;
}

.mypagesec01 .photo .top h1 {
    font-size: 24px;
    font-weight: 600;
}

.mypagesec01 .photo .top .edit {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.mypagesec01 .photo .top .edit img {
    width: 120%;
}

.mypagesec01 .photo .profile {
    margin-bottom: 10px;
}

.mypagesec01 .photo h3 {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, .55);
}

.mypagesec01 .distance {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.mypagesec01 .distance img {
    width: 200%;
}

.mypagesec01 .point {
    padding: 17px 14px;
    background: #FFF8EE;
    border-radius: 10px;
}

.mypagesec01 .point h2 {
    text-align: center;
    margin-bottom: 12px;
}

.mypagesec01 .point .santa-point {
    background: #fff;
    padding: 14px;
    margin-bottom: 15px;
}

.mypagesec01 .point .santa-point .santa-point-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.mypagesec01 .point .santa-point .santa-point-bottom {
    display: flex;
    justify-content: space-between;
}

.mypagesec01 .point .santa-point .santa-point-bottom .mypoint {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mypagesec01 .point .santa-point .santa-point-bottom .mypoint span {
    font-size: 20px;
    font-weight: 700;
    color: #2E8B57;
}

.mypagesec01 .point .santa-point .santa-point-bottom .mypoint img {
    vertical-align: -1px;
}

.mypagesec01 .point h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2E8B57;
    margin-bottom: 8px;
}

.mypagesec01 .point .naver-point-wrap {
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgba(0, 0, 0, .5);
    margin-bottom: 15px;
}

.mypagesec01 .point .naver-point {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}

.mypagesec01 .point .naver-point .naver {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.mypagesec01 .point .naver-point .naver span {
    color: #01DE5A;
    font-weight: 600;
    margin-right: 2px;
}

.mypagesec01 .point .naver-point .santa-pay {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.mypagesec01 .point .naver-point .santa-pay span {
    color: #2E8B57;
    font-weight: 600;
    margin-right: 2px;
}

.mypagesec01 .point .stamp strong {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #2E8B57;
    margin-bottom: 8px;
}

.mypagesec01 .point .stamp .levels {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mypagesec01 .point .stamp .levels>button {
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, .74);
}

.mypagesec01 .point .stamp .levels>button span {
    color: #C62828;
    display: inline-block;
    margin-bottom: 8px;
}

.mypagesec01 .point .stamp .levels>button p {
    font-weight: 600;
}

.mypagesec01 .point .stamp .levels .level01 {
    position: relative;
}

.mypagesec01 .point .stamp .levels .level01 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}